@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Outfit:wght@100..900&display=swap");
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   background: hsl(47, 88%, 63%);
   font-size: 16px;
   font-family: "Figtree", sans-serif;
}
.box-card {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 515px;
   width: 100%;
   max-width: 360px;
   margin: 100px auto;
   padding: 15px;
   background: #fff;
   border: 1px solid black;
   border-radius: 15px;
   box-shadow: 10px 10px;
   transition: 0.8s;
}
.box-card:hover {
   box-shadow: 15px 15px 0px 1px black;
   transition: 0.8s;
}

svg {
   border-radius: 10px;
   margin-bottom: 15px;
}

.main p {
   margin: 0 0 30px 10px;
   color: hsl(0, 0%, 42%);
}
.main .learn-bg {
   background: hsl(47, 88%, 63%);
   padding: 8px;
   color: hsl(0, 0%, 7%);
   font-weight: 800;
   margin: 0 250px 0 10px;
   border-radius: 5px;
}
.main .date-pubilc {
   color: hsl(0, 0%, 7%);
   margin: 15px 0 15px 10px;
}
.main h1 {
   margin: 0 0 15px 10px;
   font-size: 25px;
   cursor: pointer;
}
.main h1:hover {
   color: hsl(47, 88%, 63%);
   transition: 0.5s;
}
.main label {
   display: flex;
   text-align: center;
   align-items: center;
   font-weight: 800;
}
.main label img {
   width: 30px;
   margin: 0 10px 0 10px;
}

/* Responsive */
@media only screen and (max-width: 375px) {
   .box-card {
      max-width: 400px;
   }
}
